// Colors
// для нейминга цветов https://www.htmlcsscolor.com/hex/334482

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

$color-resolution-blue:             #2d4470;
$color-karry:                       #f9dabe;
$color-ghost:                       #bfbfc0;
$color-red-orange:                  #ee2523;
$color-white-smoke:                 #f8f8f8;
$color-whisper:                     #e7e7e7;

$color-flamingo:                    #f25655;
$color-silver:                      #c5c5c5;
$color-free-speech-red:             #df1311;

$color-shadow:                      rgba(0, 0, 0, 0.12);

// Fonts

$fz-default:                        16px;

$ff-inter:                          "Inter", "Arial", sans-serif;

// Animation

$trans-300:                         300ms;
$trans-default:                     $trans-300 ease;

// Viewports

$vp-390:                            390px;
$vp-440:                            440px;
$vp-768:                            768px;
$vp-1440:                           1440px;

// Retina

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
