.btn {
  display: flex;
  padding: 13px 18px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid $color-red-orange;
  background-color: $color-red-orange;
  color: rgba($color-default-white, 0.9);
  line-height: 140%;
  transition: background-color $trans-default;

  &:hover {
    background-color: $color-flamingo;
    border-color: $color-flamingo;
  }

  &:active {
    background-color: $color-free-speech-red;
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background-color: $color-silver;
    pointer-events: none;
  }
}
